<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <label>Marques : </label>
        <select class="form-control form-control-lg" id="idMar" name="idMar" [(ngModel)]="IdMarque" (change)="onChange()">
            <option *ngFor="let mar of marques" value="{{mar.idMar}}">
                {{mar.nomMar}}
            </option>
        </select>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Date Création</th>
                    <th>Marque</th>
                </tr>
                <tbody *ngFor="let coffee of coffee">
                    <tr>
                        <td>{{coffee.idcoffee}}</td>
                        <td>{{coffee.nomcoffee}}</td>
                        <td>{{coffee.prixcoffee}}</td>
                        <td>{{coffee.dateCreation | date:'dd/MM/yyyy'}}</td>
                        <td>{{coffee.marque.nomMar}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>